#cpi_meta_box {
    overflow: hidden;
    padding-bottom: 1em;
	}

#cpi { }

#cpi .cpi-upload {
	background-color: #f9f9f9;
	border: 1px solid #dfdfdf;
	float: left;
	margin-right: 12px;
	}

#cpi .cpi-upload-header {
	background-color: #f1f1f1;
	font-weight: bold;
	margin: 0;
	padding: 5px 8px 8px;
	}
	
#cpi .cpi-upload-thumbnail {
	background: white url('custom-post-image-placeholder.png') no-repeat center center;
	height: 150px;
	margin: 8px 8px 0;
	width: 150px;
	}
	
#cpi .cpi-button {
	margin: 8px 0 8px 8px;
	}
	
#cpi .cpi-upload-clear {
	color: #999;
	font-weight: bold;
	}
	
#cpi .cpi-upload-id {
	background: #eeeeee;
	border: 1px solid silver;
	color: #999;
	display: block;
	margin: 0 8px 8px;
	width: 40px;
	}